body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f9fc;
    color: #333;
  }

  header {
    background-color: #eec667;
    padding: 20px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }

  h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-top: 0;
}

.image-container {
  margin: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border: 2px solid black;
  padding: 5px;
  background-color: white;
}

.image-description {
  font-size: 16px;
  color: black;
  margin: 5px 0;
}

fieldset {
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #31bee3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
   /* Set a smaller font size for body */
   body {
    font-size: 14px;
  }

  /* Adjust the layout of the navigation menu */
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* Adjust the layout of the form */
  main input[type="text"],
  main input[type="email"],
  main input[type="tel"],
  main textarea {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  /* Set an even smaller font size for body */
  body {
    font-size: 12px;
  }

  /* Hide the navigation menu */
  nav ul {
    display: none;
  }

  /* Adjust the layout of the form */
  main input[type="text"],
  main input[type="email"],
  main input[type="tel"],
  main textarea {
    font-size: 12px;
  }
}